/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 de set de 2021, 18:30:02
    Author     : Axel
*/

body{
    background: radial-gradient(circle, rgba(38,232,255,1) 0%, rgba(138,83,255,1) 100%);
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
    height: 650px;
    width: 450px;
    border-radius: 6px;
    margin-top: 15px;
}

form{
    text-align: center;
}

.header{
    background: #8ce3ff;
    height: 62px;
    width: 100vw;
    margin-top: -8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    position: absolute;
}
.header ul{
    text-align: center;
    display: flex;
    justify-content: center;
}
.header li{
    margin-right: 30px;
    font-family: monospace;
    font-size: 16px;
}

.box{
    height: 200px;
    width: 135px;
    background: #dddddd;
    border-radius: 16px;
    margin-right: 35px;
}

.linha{
    height: 16px;
    width: 100%;
    word-wrap: break-word;

}
.linha p{
    font-family: monospace;
    font-size: 12px;
    margin-left: 5px;
}

#iframe{
    height: 70vh;
    width: 100%;
    border: none;
    display: flex;
}
.home-form{
    background: #d0d0d0a8;
    height: 45px;
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 6px 6px 0 0;
}
.erro-perfil{
    height: 50px;
    width: 50px;
    background: black;
    z-index: 1;
    position: absolute;
}

.erro-login{
    height: 250px;
    width: 420px;
    background: white;
    border-radius: 16px;
    z-index: 1;
}

footer{
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: grey;
    display: flex;
    justify-content: center;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li{
    margin-left: 15px;
    list-style-type: none;
}